---
import "aos/dist/aos.css"
const { title, siteName, siteDescription } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={siteDescription} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={siteDescription} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
	</head>
	<body>
		<div
			class="bg-slate-900"
		>
			<div class="grid min-h-dvh grid-cols-1 place-content-center place-items-center text-gray-200">
				<slot />
			</div>
		</div>
		<script>
			import { initAOS } from "../js/aos";

			initAOS();
		</script>
	</body>
</html>
<style>
	body {
		font-family: 'Manrope', sans-serif;
	}
</style>